  .business_cont{
    padding: 10px;
  }
  .marquee-wrap{
    display:flex;
    padding: 10px;
    align-items: center;
  }
  .marquee-wrap em {
  margin-right: 10px;
  }
  .marquee{
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
  }
  .business_list_tit{
    padding: 0 10px;
  }
  /* 举报浮层 */
.tip-off-roof{
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate3d(-50%, -50%, 0);
  width: 80%;
}
.tip-off-roof dl{
  padding-bottom: 20px;
}
.tip-off-roof dt{
  text-align: center;
}
.tip-off-roof dd{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-right: 6px;
  height: 30px;
}
.tip-off-roof dd .icon{
  display: none;
}
.tip-off-roof dd.active .icon{
  display: block;
}
/* 举报浮层 */
  .info{
    padding: 10px 0;
  }
  .info li{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  .iron{
    position: fixed;
    right: 0;
    bottom: 20px;
    padding: 10px;
    background:rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    color:#fff;
  }
  .publish-icon{
    color:#fff;
    font-size: 20px;
  }