/* 发布页面样式 */
.publish{
  padding-bottom: 70px;
}
.publish .btn{
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 20px;
}

.publish li{
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 10px;
}

.publish li label{
  width: 60px;
}
.publish li input{
  flex: 1;
}
.publish li.upload{
  flex-direction: column;
  align-items: flex-start;
}
.publish dl{
  padding: 10px 0;
  display: flex;
  width: 100%;
}
.publish dd{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.publish dt, .publish dd{
  display:flex;
  width: 30%;
  height: 80px;
  border: 1px solid #ccc;
  margin-right: 3%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.publish textarea{
  width: 100%;
  border: 0;
  margin-left:4px;
  box-sizing: border-box;
}
.publish .close{
  position: absolute;
  right: -11px;
  top:-11px;
  font-size: 22px;
  background-color:#fff;
  border-radius: 50%;
}
.text-area em{
  width:100%;
  text-align: right;
}

.pay_wrap{
  position: relative;
  background:#fff;
  width: 80%;
  height: 100px;
  margin: 100px auto;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding:20px 10px 10px;
  flex-direction: column;
}

.go_pay{
  width: 80px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #9100ff;
  color: #fff;
  margin-top: 10px;
  border-radius: 4px;
}

/* 发布页面样式 */